body {
  min-width: 800px;
  background: #ff00cc;
  /* fallback for old browsers */
  /* Chrome 10-25, Safari 5.1-6 */
  background: -webkit-gradient(linear, left top, right top, from(#333399), to(#ff00cc));
  background: linear-gradient(to right, #333399, #ff00cc);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  margin: 0px;
}

#trapezoid {
  height: 0;
  border: 80px solid rgba(0, 0, 0, 0);
  border-top: 0 solid;
  border-bottom: 100px solid rgba(1, 1, 1, 0.4);
  border-radius: 20px 20px 0 0;
  border-radius: 20px 20px 0 0;
  font: normal 100% / normal Arial, Helvetica, sans-serif;
  color: rgba(0, 0, 0, 0.7);
  text-overflow: clip;
  -webkit-transform: rotateX(180deg);
          transform: rotateX(180deg);
  transform: rotateX(180deg);
  margin-top: -53px;
  width: auto;
  position: relative;
  -webkit-transition: all 0.7s ease;
  transition: all 0.7s ease;
  padding-left: 0%;
}

#trapezoid a,
.subnavbtn {
  -webkit-transform: rotateX(180deg);
          transform: rotateX(180deg);
  transform: rotateX(180deg);
}

#trapezoid:hover .sub-home {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 53px;
}

.navbar {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  overflow: hidden;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 100px;
}

.navbar a {
  float: left;
  font-size: 16px;
  color: white;
  text-align: center;
  padding: 14px 25px;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 4px;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.subnav {
  float: left;
  overflow: hidden;
}

.subnav .subnavbtn {
  font-size: 16px;
  border: none;
  outline: none;
  color: white;
  padding: 14px 25px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
  text-transform: uppercase;
  letter-spacing: 4px;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.navbar a:hover,
.subnav:hover .subnavbtn {
  background: #8ca6db;
  color: black;
  border-radius: 5px;
}

.subnav-content {
  display: none;
  position: absolute;
  left: 0;
  width: 100%;
  z-index: 1;
  -webkit-transform: perspective(-10px);
          transform: perspective(-10px);
}

.subnav-content a {
  float: left;
  color: white;
  text-decoration: none;
}

.subnav-content a:hover {
  background: #b993d6;
  color: black;
}

.subnav:hover .subnav-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

section {
  margin: 0em 10em 10em 10em;
  padding: 3em 10em 3em 10em;
}

h1 {
  color: black;
  font-family: "Helvetica Neue", sans-serif;
  font-size: 200px;
  font-weight: bold;
  letter-spacing: -1px;
  text-align: center;
  padding: 0;
  margin: 0;
}

p {
  color: #111;
  font-family: "Calibri", sans-serif;
  font-size: 25px;
  line-height: 1.5;
}

hr {
  background-color: #000;
}
/*# sourceMappingURL=global.css.map */