/* ✏️ Fonts -> */
@font-face {
  font-family: 'Poppins-Regular';
  src: url("../fonts/Poppins-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}
/* ------------------- */

body {
  font-family: "Poppins-Regular";
  min-width: 800px;
  background: #ff00cc;
  background: -webkit-linear-gradient(
    to right,
    #333399,
    #ff00cc
  );
  background: linear-gradient(
    to right,
    #333399,
    #ff00cc
  );

  margin: 0px;
}

#trapezoid {
  width: auto;
  height: 0;
  border: 80px solid rgba(0, 0, 0, 0);
  border-top: 0 solid;
  border-bottom: 100px solid rgba(1, 1, 1, 0.4);
  border-radius: 20px 20px 0 0;
  color: rgba(0, 0, 0, 0.7);
  -o-text-overflow: clip;
  text-overflow: clip;
  transform: rotateX(180deg);
  transform: rotateX(180deg);
  margin-top: -53px;
  position: relative;
  transition: all 0.7s ease;
  padding-left: 0%;
}

#trapezoid a,
.subnavbtn {
  transform: rotateX(180deg);
  transform: rotateX(180deg);
}

#trapezoid:hover .sub-home {
  justify-content: center;
  margin-top: 53px;
}

section {
  margin: 0em 10em 10em 10em;
  padding: 3em 10em 3em 10em;
}

h1 {
  color: black;
  font-size: 200px;
  font-weight: bold;
  letter-spacing: -1px;
  text-align: center;
  padding: 0;
  margin: 0;
}

p {
  color: #111;
  font-size: 25px;
  line-height: 1.5;
}
