.navbar{
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 40%;
}
.navContainer{
    display: flex;
    justify-content: space-around;
    height: 50px;
    margin-top: 40px;
}
.subnavbtn{
    color: red;
    text-decoration: none;
    background-image: linear-gradient(
    to right,
    #00BBF9,
    #00F5D4 50%,
    #000 50%
  );
  background-size: 200% 100%;
  background-position: -100%;
  display: inline-block;
  padding: 5px 0;
  position: relative;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  transition: all 0.3s ease-in-out;
}
.subnavbtn:before{
    content: '';
    background: #54b3d6;
    display: block;
    position: absolute;
    bottom: -3px;
    left: 0;
    width: 0;
    height: 3px;
    transition: all 0.3s ease-in-out;
  }
  
  .subnavbtn:hover {
   background-position: 0;
  }
  
  .subnavbtn:hover::before{
    width: 100%;
  }

.subnav{
    /* background-color: blue; */
    width: 90px;
    height: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.logo{
    
    max-width: 100px;

}
.logoContainer{
    width: 100px;
    height: 100px;
    margin-top: -30px;
}
.buscar{
    height: 20px;
    width: 180px;
    border-radius: 1rem;
    margin-top: 10px;
    border: solid 1px
}